
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600&display=swap');

* {
  /* overflow-x: hidden;
  overflow-y: hidden; */
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Encode Sans Condensed', sans-serif; */
}


/* nav  */
.button.nav {
    padding-left: 46px;
    padding-top: 12px;
    margin: 4px;
    padding-bottom: 15px
}

.button {
    padding: 16px 50px 17px;
    border-radius: 2.5px;
    background-color: #1f6de2;
    transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;

    text-decoration: none;
    cursor: pointer;
    border: 0;
    display: inline-block;
}

/* .navbar-brand {
    padding-left: 4.5rem;
    padding-top: 1.5px;
} 

 .navbar-collapse{
    padding-right: 5.5rem;
    padding-top: 1.5px;
} */
 /* End nav */

 .para-01 {
    padding-top: 0.5rem;
    width: 100%;
    line-height: 23px;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
}
img{
    object-fit: cover;
}
img.thum-set {
    width: 260px;
    height: 500px;
}

.mini-img {
    width:260px;
    height: 245px;
}
.col-md-3{
    padding: 0 0;
}

.paragraph-wider {
    width: 230px;
}

p.paragraph-2 {
    font-size: 15px;
    font-weight: 500;
    font-family: system-ui;
}
.steps {
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 26px;
    padding-top: 0.5rem;
    text-align: center;
}

.khamba {
    /* height: 10%;
    border-left: 2px solid #eee;
    margin-left: 24px; */
    margin-top: 1.5rem;
}

.form-d {
    border: 1px solid #eee;
    padding: 24px;
    width: 100%;
}

.new-forms {
    width: 97%;
    outline: none;
    padding: 12px;
    background: #eee;
    border: none;
    border-radius: 0.5rem;
}

input.button._8-top.w-button {
    width: 97%;
}

.calendar-day {
    width: 140px;
}

.bg-color {
    background-color: #10395f;
    color: #fff;
}

.open-times-title {
    margin-left: 53px;
}

.open-times {
    padding: 35px 15px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.footer-link {
	color: #eee;
	font-weight: 600;
    padding-bottom: 15px;
}

.footer {
	background-color: #1e2245;
}

.footer-buttom {
	color: #eee
}

.newSteps {
    padding-top: 3%;
    padding-left: 25px;
}

.bg-setter {
    background: #10395f85;
    background-image: url(image/heroSe.jpeg);
    width: 1349px;
    height: 281px;
    background-position: center;
}

.jumbotron {
    padding: 0 8rem;
    background: #10395f69;
    padding-top: 6rem;
    height: 100%;
    color: white;
}


img.SetImg {
    width: 376px;
    height: 479px;
    /* font-size: 2rem; */
}

.box-setter{
    margin-left: 3rem;
}

.blog-item {
    padding: 3px 3px;
    margin: 0 20px;
    font-size: 14px;
    color: #a7a3a3;
}

.newBtn {
    outline: none;
    padding: 12px 45px;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 4rem;
}

/*Testimonials*/

p.font {
    font-size: 11px;
    color: #878787;
}

.color {
    color: #878787;
}

.content-div {
    border: 1px solid #eee;
    padding: 20px;
    margin: 60px 5px;
}

.jumbotron-1 {
    padding: 0 8rem;
    background: #10395f69;
    padding-top: 8rem;
    height: 100%;
    color:white;
}

.bg-setter-1 {
    background: #10395f85;
    background-image: url(image/Depositphotos_40115981_l-2015-1.jpg);
    width: 1349px;
    height: 290px;
    background-position:center;
}

.bgColor {
    background-color: #f2f2f24d
}

/*End Testimonials*/


.jumbotron-2 {
    padding: 0 8rem;
    background: #10395f69;
    padding-top: 8rem;
    height: 100%;
    color:white;
}

.bg-setter-2 {
    background: #10395f85;
    background-image: url(image/Exterior-1.jpg);
    width: 100%;
    height: 300px;
    background-position:center;
}

p.contact-pera {
    font-size: 14px;
    font-weight: 500;
}

.selCheck {
    margin-right: 7px;
}

.form-floating {
    text-align: center;
}

.para_03 {
    font-size: 16px;
    color: #8b8986;
}

.imgDiv {
    width: 190px;
}


.jumbotron-3 {
    padding: 0 8rem;
    background: #10395f69;
    padding-top: 8rem;
    height: 100%;
    color:white;
}

.bg-setter-3 {
    background: #10395f85;
    background-image: url(image/Depositphotos_25772409_l-2015-1.jpg);
    width: 1349px;
    height: 290px;
    background-position:center;
}


section.section-1 {
    padding: 70px 60px;
    color: #878787;
}

.p-font {
    font-size: 15px;
}

section.section-3 {
    padding: 70px 60px;
    color: #878787;
}



.jumbotron-4 {
    padding: 0 8rem;
    background: #10395f69;
    padding-top: 8rem;
    height: 100%;
    color:white;
}

.bg-setter-4 {
    background: #10395f85;
    background-image: url(image/home2.jpg);
    width: 1349px;
    height: 290px;
    background-position:center;
}

.imgDiv-1 {
    width: 190px;
    padding-top: 135px;
}
